.form-group {
    width: 85%;
    margin: 2rem;
}

form {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-group input {
    height: 3rem;
}