<main class="flex-fill">
  <div class="mt-4 heading row text-center">
    <div class="col ">
      <a [routerLink]="['']" routerLinkActive="router-link-active"  >

        <h1 class="display-1 d-inline-block">
          Thain Thain Database
        </h1>
      </a>
    </div>
  </div>

  <button class="btn btn-primary" [routerLink]="['add']" routerLinkActive="router-link-active"  > + Add </button>
  <button class="btn btn-danger" [routerLink]="['remove']" routerLinkActive="router-link-active"  > - Remove </button>
  <button class="btn btn-warning" [routerLink]="['showall']" routerLinkActive="router-link-active" > * Show All </button>

  <!-- <app-render-box></app-render-box>   -->
  <!-- <app-add-thief></app-add-thief> -->

  
  <div class="container">

    <div class="container-fluid render-box"
    style="border: 2px solid red"
    >
    
      <router-outlet></router-outlet>
    
    </div>
  </div>

  
</main>