main {
    width: 98vw;
    /* border: 2px solid brown; */
    padding: 0;
}

.render-box {
    padding: 5% 10%;
    border-radius: 50px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    box-shadow: 2px 5px 5px #aaaaaa;
    margin-bottom: 10rem;
}


.container {
    padding: 0 10%;
}

.btn-primary {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 100%);
}
.btn-danger{
    background-image: linear-gradient(to right, #D31027 0%, #EA384D 100%);
}
.btn-warning{
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 100%);
    color: white;
}
.btn {
    border-radius: 25px;
    padding: 1rem 1.7rem;
    box-shadow: 1px 2px 7px rgba(128, 128, 128, 0.836);
}

h1 {
    border-bottom: 3px solid rgb(110, 40, 160);
}