/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    min-width: 50vw;
}

.btn {
    font-size: 2rem;
    margin: 1rem;
}